<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title text-center>Agenda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="8" offset-md="2">
        <ion-card color="tertiary" no-margin>
          <ion-row>
            <ion-col class="font-grey" size="2" text-center>
              08:00<br>AM
            </ion-col>
            <ion-col size="10">
              <ion-row>
                <ion-col>
                  <ion-card-title>Registration</ion-card-title>                  
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="8" offset-md="2">
        <ion-card color="tertiary" no-margin>
          <ion-row>
            <ion-col class="font-grey" size="2" text-center>
              09:50<br>AM
            </ion-col>
            <ion-col size="10">
              <ion-card-subtitle text-right>Hall 4, Festival Stage</ion-card-subtitle>
              <ion-row>
                <ion-col>
                  <ion-card-title>Opening Act</ion-card-title>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="8" offset-md="2">
        <ion-card color="tertiary" (click)="goToDetail()" no-margin>
          <ion-row>
            <ion-col size="2" class="font-grey" text-center>
              10:00<br>AM
            </ion-col>
            <ion-col size="10">
              <ion-card-subtitle text-right>Hall 4, Festival Stage</ion-card-subtitle>
              <ion-row class="padding-right">
                <ion-col size="11">
                  <ion-card-title>Lorem Ipsum</ion-card-title>
                  <div class="font-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Netus et malesuada fames ac turpis egestas. Pellentesque elit eget gravida cum sociis natoque penatibus. Turpis egestas integer eget aliquet nibh. Lorem ipsum dolor sit amet consectetur. Enim tortor at auctor urna. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                </ion-col>
                <ion-col size="1" class="parent-middle">
                  <div class="child-middle">
                    <ion-icon name="ios-arrow-forward" class="arrow"></ion-icon>
                  </div>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
