<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title text-center>About</ion-title>
  </ion-toolbar>
</ion-header> 

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="8" offset-md="2">
        <ion-img src="../../../assets/img/sample_image.jpg"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="8" offset-md="2">
        <h1>Lorem Ipsum</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
          Proin dictum non turpis sit amet convallis. Ut non tellus rutrum, interdum sapien et, 
          vulputate sem. Nam eget mauris et diam sagittis ullamcorper eget vitae eros. 
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
          Praesent at dui at risus maximus aliquet eu quis nunc. 
          Phasellus scelerisque, ligula eu volutpat faucibus, massa felis aliquet felis, 
          ut tincidunt ante ex vitae turpis. Maecenas vel lorem posuere quam convallis vulputate ut at urna. 
          Donec accumsan eros et urna congue malesuada. Duis nec orci laoreet, fringilla velit at, viverra nunc. 
          Etiam in bibendum ligula. Sed nec elementum turpis, at malesuada est.</p>
        <br>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a porttitor nulla. 
          Curabitur quis egestas enim, a scelerisque felis. In interdum efficitur eros, 
          quis semper libero finibus eu. Nullam non fermentum tortor. Nulla elit nisl, ultricies nec commodo vel, 
          tempor at sem. Nam tempor molestie iaculis. In varius egestas lacus. 
          Phasellus in dui in tellus sagittis imperdiet. Donec ac quam feugiat, porta velit eget, 
          cursus massa. Mauris eget magna et risus ultrices mattis vel nec neque. Ut in rutrum ante. 
          Sed elementum ultrices ipsum in ornare. Pellentesque odio leo, pulvinar eget magna a, 
          venenatis cursus velit. Suspendisse ut erat elit.</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
