<ion-header>
  <ion-toolbar>
    <ion-title text-center>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="3" size-xs="6">
        <ion-card text-center class="tile" (click)="goToAgenda()" color="secondary">
          <div><ion-icon name="ios-calendar" class="tile-icon"></ion-icon></div>
          <ion-label>Agenda</ion-label>
        </ion-card>
      </ion-col>
      <ion-col size-md="3" size-xs="6">
        <ion-card text-center class="tile" (click)="goToFloorPlan()">
          <div><ion-icon name="ios-map" class="tile-icon"></ion-icon></div>
          <ion-label>Floor plan</ion-label>
        </ion-card>
      </ion-col>
      <ion-col size-md="3" size-xs="6">
        <ion-card text-center class="tile" (click)="goToSurvey()">
          <div><ion-icon name="ios-list-box" class="tile-icon"></ion-icon></div>
          <ion-label>Survey</ion-label>
        </ion-card>
      </ion-col>
      <ion-col size-md="3" size-xs="6">
        <ion-card text-center class="tile" (click)="goToAbout()">
          <div><ion-icon name="ios-information-circle" class="tile-icon"></ion-icon></div>
          <ion-label>About</ion-label>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
